body
{
    background-color: #202124;
    display: flex;
    flex-direction:column;
    margin:0;
    /*overflow-y: hidden;
    overflow-x: hidden;*/
}

.errorimage
{
    filter: invert(1);
    margin-bottom:40px;
    height:72px;
    width:72px;

}

.summary
{
    font-family: 'Segoe UI', Tahoma, sans-serif;
    color: #9aa0a6;
    line-height: 2.2em; 
}

#description
{
    font-size:small;
}

a
{
    color:#8ab4f8;
    text-decoration: none;
    font-size:15px;
}

p
{
    margin:0;
}

#pagetitle
{
    font-weight: bold;
    display: inline-block;
    
}

#errormain
{
    display:flex;
    flex-direction:column;
    width: 100%;
    max-width: 600px;
    margin:14vh auto 0;
}

h1
{
    font-weight:500;
    font-size: 25px;
}

#rbutton
{
    background-color: #8ab4f8;
    border: 0;
    border-radius: 20px;
    text-decoration: none;
    text-align: center;
    padding: 8px 16px;
    cursor: pointer;
    margin-top: 30px;
}

.page.one
{
    width: 100%;
    height: 100vh;
}

.page.two
{
    width:100%;
    height:100vh;
    background-color:red;
}
