body
{
    background-color: #202124;
    display: flex;
    flex-direction:column;
}

.errorimage
{
    filter: invert(1);
    margin-bottom:40px;
    height:72px;
    width:72px;

}

.summary
{
    font-family: 'Segoe UI', Tahoma, sans-serif;
    color: #9aa0a6;
}

#pagetitle
{
    font-weight: bold;
    display: block;
}

#errormain
{
    display:flex;
    flex-direction:column;
    width: 100%;
    max-width: 600px;
    margin:14vh auto 0;
    line-height: 1.6; 
}

h1
{
    font-weight:500;
    font-size: 25px;
}
